    /*This all properties are for flex container. And flex items is done on another page.*/
    * {
        margin: 0px;
        padding: 0px;
    }

    .box {
        height: 100px;
        width: 100px;
        border: 2px solid;
        padding: 10px;
        margin: 5px;
        font-size: 20px;
    }

    #container {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: bisque;

        display: flex;
        flex-direction: row-reverse;
    }

    #box1 {
        background-color: greenyellow;
    }

    #box2 {
        background-color: pink;
    }

    #box3 {
        background-color: lightblue;
    }

    #box4 {
        background-color: lightcoral;
    }

    #box5 {
        background-color: lightgreen;
    }

    #container2 {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: bisque;
        margin-top: 10px;

        display: flex;
        flex-direction: column-reverse;
        /**/
        flex-wrap: wrap;
        /*wrap property*/
        align-content: center;
        /* It is used for spacing b/w flex lines within a flex container.*/
    }

    #box6 {
        background-color: greenyellow;
    }

    #box7 {
        background-color: pink;
    }

    #box8 {
        background-color: lightblue;
    }

    #box9 {
        background-color: lightcoral;
    }

    #box10 {
        background-color: lightgreen;
    }

    #container3 {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: lavender;
        margin-top: 10px;

        display: flex;
        justify-content: flex-end;
        /**/
    }

    #box11 {
        background-color: greenyellow;
    }

    #box12 {
        background-color: pink;
    }

    #box13 {
        background-color: lightblue;
    }

    #box14 {
        background-color: lightcoral;
    }

    #box15 {
        background-color: lightgreen;
    }

    #container4 {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: lavender;
        margin-top: 10px;

        display: flex;
        justify-content: center;
        /* justify used for main axis*/

        align-items: center;
        /* align used for cross axis*/

        /*this property align items along the cross axis perpendicular to main axis.*/
    }

    #box16 {
        background-color: greenyellow;
    }

    #box17 {
        background-color: pink;
    }

    #box18 {
        background-color: lightblue;
    }

    #box19 {
        background-color: lightcoral;
    }

    #box20 {
        background-color: lightgreen;
    }

    #container5 {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: lavender;
        margin-top: 10px;

        display: flex;
        justify-content: space-around;
        /**/
    }

    #box21 {
        background-color: greenyellow;
    }

    #box22 {
        background-color: pink;
    }

    #box23 {
        background-color: lightblue;
    }

    #box24 {
        background-color: lightcoral;
    }

    #box25 {
        background-color: lightgreen;
    }

    #container6 {
        height: 400px;
        width: 1200px;
        border: 3px solid black;
        background-color: lavender;
        margin-top: 10px;

        display: flex;
        justify-content: space-between;
        /**/
    }

    #box21 {
        background-color: greenyellow;
    }

    #box22 {
        background-color: pink;
    }

    #box23 {
        background-color: lightblue;
    }

    #box24 {
        background-color: lightcoral;
    }

    #box25 {
        background-color: lightgreen;
    }